---
import ExperienceItem from "./ExperienceItem.astro";
const EXPERIENCE = [
  {
    date: "Actualmente...",
    title: "Desarrollador Full Stack | Flutter - Firebase",
    company: "Comba I + D",
    description:
      "Encargado del desarrollo completo de la aplicación móvil Baby Mom, una plataforma centrada en el acompañamiento a madres gestantes. Integración con Firebase, diseño enfocado en la experiencia de usuario y funcionalidades clave como registro, seguimiento y notificaciones.",
    link: "https://www.usc.edu.co/investigaciones/centros-de-estudios-e-investigaciones/",
  },
  {
    date: "Octubre 2024 - Febrero 2025",
    title: "Desarrollador Full Stack | Node.js - React - PostgreSQL",
    company: "Code Liance",
    description:
      "Diseño y desarrollo de Urbanix, una plataforma SaaS para la gestión integral de conjuntos residenciales. Implementación de módulos como reservas de zonas comunes, gestión de residentes y mantenimiento, con arquitectura moderna basada en React, Node.js, Prisma y JWT.",
    link: "https://github.com/sinisini29",
  },
  {
    date: "Actualmente...",
    title: "Desarrollador Full Stack | Laravel - Vue.js - MySQL",
    company: "Code Liance",
    description:
      "Responsable del desarrollo de Trans-Valle, una aplicación web orientada a la gestión y seguimiento del transporte regional. Incluye funcionalidades como control de rutas, horarios, asignación de conductores y visualización en tiempo real, optimizando la eficiencia operativa mediante tecnologías modernas como React, Node.js y PostgreSQL.",
    link: "https://transvalle.netlify.app/",
  },
];
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
